@tailwind base;
@tailwind components;
@tailwind utilities;

/* resources/css/global.css */

/* Colores */
:root {
    --primary-color: #1F3082;
    /* Color primario */
    --secondary-color: #0B86E7;
    /* Color secundario */
    --tertiary-color: #6AB4E3;
    /* Color terciario */
    --quaternary-color: #517AA7;
    /* Cuarto color */
    --quinary-color: #1B1B1D;
    /* Quinto color */
    --senary-color: #949494;
    /* Sexto color */
    --background-color: #F0F5F7;
    /* color complementario */
    --complementario-color: #F36262;
    /* Color de fondo */

    /* Tamaños de pantalla */

    --screen-sm: 640px;
    /* Small (640px y más) */
    --screen-md: 768px;
    /* Medium (768px y más) */
    --screen-lg: 1024px;
    /* Large (1024px y más) */
    --screen-xl: 1280px;
    /* Extra Large (1280px y más) */
}

/* Fuentes */
@font-face {
    font-family: 'Helvetica';
    src: url('/fonts/Helvetica.woff2') format('truetype');
}

@font-face {
    font-family: 'Helvetica Light';
    src: url('/fonts/Helvetica-Light.woff2') format('truetype');

}

@font-face {
    font-family: 'Helvetica Bold';
    src: url('/fonts/Helvetica-Bold.woff2') format('truetype');

}
/* Otros estilos globales */
body {
    font-family: 'Helvetica Bold', sans-serif;
    /* Aplicar la fuente */
    background-color: var(--background-color);
    /* Usar el color de fondo */
}

*{
    font-family: 'Helvetica';
    transition: 160ms;
    z-index: 1;
}

.texto_simple {
    font-family: 'Helvetica Light';
    font-size: 20px;
    color: #1B1B1D;
    font-weight: 500;
    /* line-height: 30px; */
    text-align: left;
   
}
















/* Estilos del menú popup */
/* Estilo general del popup */
.comprar-fixed {
    position: fixed;
    inset: 0;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.5);
    /* Fondo semitransparente */
}

/* Contenedor del popup */
.comprar-popup-container {
    width: 90%;
    max-width: 600px;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    position: relative;
    background-color: white;
    border-radius: 1rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Estilo del título */
.comprar-popup-title {
    position: absolute;
    top: -3rem;
    font-size: 2.5rem;
    color: white;
    margin: 0;
    text-align: center;
}

/* Contenedor de opciones */
.comprar-options-container {
    width: 100%;
    height: 100%;
    display: flex;
    overflow: hidden;
}

/* Opción general */
.comprar-popup-option {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;
    margin: 0.5rem;
    padding: 10px;
    background-color: white;
    border-radius: 0.75rem;
    transition: background-color 0.3s;
    cursor: pointer;
}

/* Icono de WhatsApp */
.comprar-whatsapp-icon {
    color: #25D366;
}

/* Icono de Cuenta */
.comprar-account-icon {
    color: #007BFF;
}

/* Texto de WhatsApp */
.comprar-whatsapp-text {
    color: #25D366;
}

/* Texto de Cuenta */
.comprar-account-text {
    color: #007BFF;
}

/* Hover de opciones */
.comprar-popup-option:hover {
    background-color: #f0f0f0;
}

.comprar-whatsapp-option:hover {
    background: linear-gradient(35deg, rgba(157, 211, 37, 1) 13%, rgba(37, 211, 102, 1) 100%);
}

.comprar-account-option:hover {
    background: linear-gradient(35deg, rgba(0, 5, 255, 1) 0%, rgba(0, 219, 255, 1) 100%);
}

.comprar-whatsapp-option:hover .comprar-whatsapp-icon,
.comprar-whatsapp-option:hover .comprar-whatsapp-text {
    color: white;
}

.comprar-account-option:hover .comprar-account-icon,
.comprar-account-option:hover .comprar-account-text {
    color: white;
}

.comprar-popup-option .comprar-icon,
.comprar-popup-option span {
    transition: color 0.3s ease;
}

/* Estilo responsivo para dispositivos móviles */
@media (max-width: 768px) {
    .comprar-popup-container {
        flex-direction: column;
        height: auto;
        max-height: 90%;
        padding: 10px;
    }

    .comprar-options-container {
        flex-direction: column;
        height: auto;
    }

    .comprar-popup-option {
        width: 100%;
        height: auto;
        margin: 0.5rem 0;
    }

    .comprar-popup-title {
        font-size: 2rem;
        top: -2rem;
    }
}